<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
</head>
<body>

<!-- Render the user object -->
<script type="text/javascript">
    window.user = <%- user || 'null' %>;
</script>

</body>
</html>